<form [formGroup]="changePasswordForm" #form="ngForm" (submit)="submit(form)" class="givecolor">
  <div class="card-body">
    <div class="mb-2" style="text-align:center">
      <h4>Change Password</h4>
    </div>

    <div class="form-group mb-2">
      <mat-form-field style="width:100%">
        <input matInput type="password" placeholder="Password" formControlName="password" minlength="3" required>
        <mat-error *ngIf="changePasswordForm.controls.password.invalid">Password is required</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group mb-2">
        <mat-form-field style="width:100%">
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" minlength="3" required>
          <mat-error *ngIf="changePasswordForm.controls.confirmPassword.invalid">Password Confirmation is required</mat-error>
        </mat-form-field>
      </div>
  </div>

  <div class="card-footer">
    <div style="float:right;margin-top: 25px;">
      <button class="btn btn-danger mr-3" type="submit">
        Submit
      </button>
      <button class="btn btn-reset" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>

</form>