@import 'material';
@import 'main';
@import 'utils';
@import 'responsive';
@import 'custom-styles';

.k-animation-container-shown, .k-animation-container>.k-popup {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03), 0 4px 5px 0 rgba(0,0,0,0.04);
}
.k-animation-container {
    position: absolute;
    z-index:1000
}
// .k-animation-container-shown {
//     overflow: visible;
// }

// .k-animation-container-fixed {
//     position: fixed;
// }
// .k-animation-container {
//    z-index: 100;
// }
// .k-chart-tooltip {
//     border-radius: 2px;
//     color: #fff;
// }
// .k-chart-tooltip {
//     font-size: 13.006px;
//     line-height: 1.4285714286;
//     padding: 4px 8px;
// }

.error-class {
    background: maroon;
    color : white;
}